<div class="index">
<h2>Welcome <t style="color: blue;"><%= @user.username %></t> to your adventure page!</h2>

<!--form to create new adventure -->
<center><h3>What's your new adventure?</h3>
<div class="index form">
<form action='/adventures' method="post">
<label for="title">Title:</label>
<input type="text" name="title" id="title" value= ""><br>

<label for="location">Location:</label>
<input type="text" name="location" id="location" value= ""><br>

<label for="activity">Activity:</label>
<input type="text" name="activity" id="activity" value= ""><br>

<label for="companion">Companion:</label>
<input type="text" name="companion" id="companion" value= ""><br>

<label for="notes">Notes:</label>
<textarea type="text" name="notes" id="notes" value= ""></textarea><br><br>

<input type="submit" name="submit" id="submit" value="Submit">
<button type="submit" formaction="/wishlists">Add to Wishlist</button>
</form></center><br><br>
</div>

<!-- list of each user's adventures with link to view details -->
<h2>Here are your past adventures!</h2>
<center>
<p> You have a total of <t style="color: blue;"><%= @user.adventures.length %></t> adventures! Keep Exploring!!!</p>

<ul><% @user.adventures.each do |adventure| %>
<li><h3><a href="/adventures/<%= adventure.id %>"><%= adventure.title %></h3></a><h4></h4><%=adventure.location%></h4></li>
<% end %>
</ul>
</center>

 </div>