<h2><%= @adventure.title %></h2>
<h3><%= @adventure.location %></h3>

<p>
Companion: <%= @adventure.companion %><br>
Activity: <%= @adventure.activity %><br>
Notes: <%= @adventure.notes %><br>
</p>



<%= @adventure.user.username %><br>