<h2><%= @adventure.title %></h2>
<h3><%= @adventure.location %></h3>

<p>
Companion: <%= @adventure.companion %><br>
Activity: <%= @adventure.activity %><br>
Notes: <%= @adventure.notes %><br>
</p>

<form method="get" action="/adventures/<%= @adventure.id %>/edit">
<input type="submit" name="edit" id="edit" value="Edit">
</form>

<%= @adventure.user.username %><br>