<h2><%= @adventure.title %></h2>
<h3><%= @adventure.location %></h3>

<p>
Companion: <%= @adventure.companion %><br>
Activity: <%= @adventure.activity %><br>
Notes: <%= @adventure.notes %><br>
</p>

<form method="get" action="/adventures/<%= @adventure.id %>/edit">
<input type="submit" name="edit" id="edit" value="Edit">
</form>

<form method="post" action="/adventures/<%= @adventure.id %>">
<input id="hidden" type="hidden" name="_method" value="Delete">
<input type="submit" name="delete" id="delete" value="Delete">
</form>

<a href="/adventures">Homepage</a>

<%= @adventure.user.username %><br>
<%= @adventure.created_at.strftime("%A, %B %d, %Y at %I:%M %p %Z ") %>